<%- include("partials/header"); -%>

    <div class="container">
        <div class="box">
            <h1 id="error">Wrong city name</h1>

            <form action="/error" method="POST" class="box-form">
                <button class="btn">Go back</button>
            </form>

            <p id="date"></p>
        </div>
    </div>


    <%- include("partials/footer"); -%>